<ion-content>
  <div class="profile-containe">
    <div class="header">
      <span color="#16423C">Batal</span>
    </div>
  </div>
  <div class="profile-section">
    <h2>Edit Profile</h2>
  </div>
  <div class="profile-container">
    <ion-avatar class="avatar">
      <img src="../../assets/Cat.png" alt="Profile Avatar" />
      <ion-icon name="camera" class="camera-icon"></ion-icon>
    </ion-avatar>
  </div>
  <div class="container">
    <div class="form-container">
      <input type="text" placeholder="Name" />
      <input type="text" placeholder="Username" />
      <input type="date" placeholder="Date of Birth" />
      <input type="text" placeholder="Gender" />
      <button (click)="presentCustomAlert()" class="save-button">Save</button>
    </div>
  </div>
</ion-content>
